<!DOCTYPE html>
<h3 id="curUserName" hidden><%= curUser.userName %></h3>
<h3 id="curUserPassword" hidden><%= curUser.password %></h3>

<html>
<head>
<style>

div.desc {
  padding: 15px;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<button class ="btn-block" data-toggle="modal" data-target="#addFlowerModal" id="addFlowerBtn">Add flower </button>
<div id="mainDiv">

<div class= "row" id="mainRow"> 


</div>



</div>
</body>
<script>
    $(document).ready(function(){
      // TO_DO: if you manager show button add for form add-flower
      
      getCatalog();
      function getCatalog(){
          fetch('/getcatalog')
        .then(response=>{
          return response.json();
        }).then(data=>{
         for (i = 0; i < data.length; i++)
         {
             var divColumn = document.createElement("div");
            divColumn.setAttribute("class" , "column");
            divColumn.setAttribute("id" , "divColumn"+i);

            var divCard = document.createElement("div");
            divCard.setAttribute("class" , "card");
            divCard.setAttribute("id" , "divCard"+i); 

            
            var imgCard = document.createElement("img");
            imgCard.setAttribute("id", "image"+i);
            imgCard.setAttribute("src",data[i].picture);
           // imgCard.setAttribute("src","images/"+data[i].name+".jpg");
            imgCard.setAttribute("width","300");
            imgCard.setAttribute("height","200");

            var h1Card = document.createElement("h1");
            h1Card.innerHTML=data[i].name;
            console.log(data[i].name);
           
           
            var pCard = document.createElement("p");
            pCard.setAttribute("class","price");
            pCard.innerHTML=data[i].price;

            var p2CardDescrpition = document.createElement("h3");
            p2CardDescrpition.innerHTML="price";

            var buttonCard=document.createElement("button");
            buttonCard.innerHTML="Add to Cart";

         
            document.getElementById("mainRow").appendChild(divColumn);

            document.getElementById("divColumn"+i).appendChild(divCard);
            document.getElementById("divCard"+i).appendChild(imgCard);
            document.getElementById("divCard"+i).appendChild(h1Card);
            document.getElementById("divCard"+i).appendChild(p2CardDescrpition);
            document.getElementById("divCard"+i).appendChild(pCard);
            document.getElementById("divCard"+i).appendChild(buttonCard);


          //  document.getElementById("card"+i).appendChild(imgCard);
            console.log("step : "+ i);
           

          
  
          } 
          
        })
       .catch(error=>{
          console.log(error);
        });
      }

      
    });






  </script>
  
<!-- Modal HTML -->

<div class="modal fade" id="addFlowerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new flower</h5>
         <button onclick="clearModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  id="editForm" class="form-container new-user-form-container" action="/uploadfile" enctype="multipart/form-data" method="POST">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="nameFlowerModal" value="enter a name" name="Description">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Price:</label>
            <input type="text" class="form-control" id="priceFlowerModal" value="enter a price" name="Price">
          </div>
          <div class="form-group files">
            <input type="file" name="myFile" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" value="Upload a file" class="btn btn-submit" id="btn-add-product" >
       </div>
        </form>
      </div>
    </div>
  </div>
</div>

  
</html>