<!DOCTYPE html>
<h3 id="curUserName" hidden><%= curUser.userName %></h3>
<h3 id="curUserPassword" hidden><%= curUser.password %></h3>

<html>
<head>
<style>

div.desc {
  padding: 15px;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<button class ="btn-block" data-toggle="modal" data-target="#addFlowerModal" id="addFlowerBtn">Add flower </button>
<div id="mainDiv">

<div class= "row" id="mainRow"> 


</div>



</div>
</body>
<script>
    $(document).ready(function(){
      // TO_DO: if you manager show button add for form add-flower
      
      getCatalog();
      function getCatalog(){
          fetch('/getcatalog')
        .then(response=>{
          return response.json();
        }).then(data=>{
         for (i = 0; i < data.length; i++)
         {
             var divColumn = document.createElement("div");
            divColumn.setAttribute("class" , "column");
            divColumn.setAttribute("id" , "divColumn"+i);

            var divCard = document.createElement("div");
            divCard.setAttribute("class" , "card");
            divCard.setAttribute("id" , "divCard"+i); 

            
            var imgCard = document.createElement("img");
            imgCard.setAttribute("id", "image"+i);
            imgCard.setAttribute("src",data[i].picture);
           // imgCard.setAttribute("src","images/"+data[i].name+".jpg");
            imgCard.setAttribute("width","300");
            imgCard.setAttribute("height","200");

            var h1Card = document.createElement("h1");
            h1Card.innerHTML=data[i].name;
            console.log(data[i].name);
           
           
            var pCard = document.createElement("p");
            pCard.setAttribute("class","price");
            pCard.innerHTML=data[i].price;

            var p2CardDescrpition = document.createElement("h3");
            p2CardDescrpition.innerHTML="price";

            var buttonCard=document.createElement("button");
            buttonCard.innerHTML="Add to Cart";

         
            document.getElementById("mainRow").appendChild(divColumn);

            document.getElementById("divColumn"+i).appendChild(divCard);
            document.getElementById("divCard"+i).appendChild(imgCard);
            document.getElementById("divCard"+i).appendChild(h1Card);
            document.getElementById("divCard"+i).appendChild(p2CardDescrpition);
            document.getElementById("divCard"+i).appendChild(pCard);
            document.getElementById("divCard"+i).appendChild(buttonCard);


          //  document.getElementById("card"+i).appendChild(imgCard);
            console.log("step : "+ i);
           

          
  
          } 
          
        })
       .catch(error=>{
          console.log(error);
        });
      }

      
    });







  
    $("#editFlowerBtn").on('click', () => {
      console.log("the user type: ",userDetails.type)
    
    let curuserName = document.getElementById('curUserName').innerHTML;
    let curuserPassword = document.getElementById('curUserPassword').innerHTML;

    // TO_DO extrat from curuser the name and password
    console.log("cur user: "+ curuserName)
   // console.log(JSON.stringify(curuser))
   
   // console.log(curuser["userName"])
    let isUpdate =false;
    let flower = {
      name: "",
      price: "",
      picture: "",  
    }

    /*   if(isUpdate){
      user.id = $("#idModal").val();
    } */
    flower.name = $("#nameFlowerModal").val();
    flower.price = $("#priceFlowerModal").val();
    flower.picture = $("#pictureFlowerdModal").val()
    
    if (flower.name == "") {
      alert("flower name Cant Be Empty")
      return;
    }
    if ( flower.price == "") {
      alert(" flower price  Cant Be Empty")
      return;
    }
    if (flower.picture == "") {
      alert("flower.picture  Cant Be Empty")
      return;
    }
    let url='';
    if(isUpdate){
      url= '/updateFlower'+"?"+$.param({user: curuserName, pass: curuserPassword}) //+ $.param({user: curuser.userName, pass: curuser.password})
    }else if(!isUpdate){
       url = '/addFlower'+"?" +$.param({user: curuserName, pass: curuserPassword})
    }
      console.log(url);
      console.log("לפני הפאץ'");
      console.log("req.body: ", flower);
      var form = $('#editForm').get(0);
                console.log("edit flower btn ");
                var formdata = new FormData(form);
                console.log(formdata);
      //Update the data to the serve
      fetch(url, {
            method: 'POST',
            body: form,
            processData: false,
            contentType: false,
          }).then(response => {
            return response.json();
          }).then(resulte => {
            console.log(resulte);
            if (resulte.message === "Success") {
              $('#addFlowerModal').modal('hide');
              console.log("אחרי הפאץ'");
              //clear model
              clearModal();
              //console.log(resulte.user+" start getUsers...  ");
              //TO DO -- refresh the page..
            //  getUsers();
            //  console.log("אחרי getUsers'");

              }
            })
            .catch(error => {
              console.log(error);
            });        
  }
  ); 

  $("form#editForm").submit(async function(e)  {
    console.log("blalbal- submit clicked")
   // $(".cover").show();
    e.preventDefault();    
    var formData = new FormData(this);
    console.log("we start fetch submit clicked")
    let res = await fetch('/addFlower', {
                        method: 'POST',
                        
                        body: formData
                    });
    console.log("res.status is: ",res.status)
    if (res.status === 403) {
      console.log("we got 403 from fetch")
     //   removeErrMsg();
     //   $(".modal-body").prepend(`<p style="color: red" id="errMsg">The product already exists in the system</p>`);
    } else {
        if (res.status !== 200) {
          console.log("we got 200 from fetch")
           // if (!$("#errMsg").length) {
            //    $(".modal-body").prepend(`<p style="color: red" id="errMsg">an error has occurred please try again</p>`);
          //  }
        } else {
            $('#addFlowerModal').modal('hide');
            console.log("we return from fetch")
            //window.location.reload();
        }
    }
  });
  </script>
  
<!-- Modal HTML -->

<!-- Modal HTML -->

<div class="modal fade" id="addFlowerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new flower</h5>
         <button onclick="clearModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  id="editForm" class="form-container new-user-form-container" action="/products/add" method="post" enctype="multipart/form-data">

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="nameFlowerModal" value="enter a name" name="Description">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Price:</label>
            <input type="text" class="form-control" id="priceFlowerModal" value="enter a price" name="Price">
          </div>
          <div class="form-group files">
            <input type="file" class="file-upload" name="myImage" accept="image/*"
            data-browse-on-zone-click="true" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-submit" id="btn-add-product" value="Add Product">
       </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="clearModal()" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-secondary" id="deleteModal" data-dismiss="modal">Delete User</button> -->
          <button  class="btn btn-primary"  data-dismiss="modal" type="submit"  id="editFlowerBtn">Update User</button>
      </div>
    </div>
  </div>
</div>

  
</html>