<!DOCTYPE html>
<!-- views/about.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>Welcome to University System</h1>
                    <p>The Jerusalem College of Technology - Lev Academic Center (JCT), is an Israeli college, recognized by the Council for Higher Education, which specializes in providing high-level science and technology education to the Jewish community. More than 2,000 of JCT's 4,700 students are ultra-Orthodox, and the remainder of the students are from diverse segments of Israeli society including Ethiopian-Israelis, national religious and international students.

                        JCT's main campus ("Lev") is situated in the Givat Mordechai neighborhood of Jerusalem. Other branches are located in the Givat Shaul neighborhood ("Tal Campus") of Jerusalem and Ramat Gan ("Lustig Campus"). JCT offers bachelor's degrees and master's degrees in several fields of study combined with intensive Jewish studies.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h3>This is for targil 2</h3>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
